/*********************************** HOME-> SIGN/LOGIN MENU */

 .container_home{
   width: 1000px;
   margin-top: 50px;
 }

 .body_content{
   margin-top: 40px;
 }


div.menu_bar_dark{
  background-color: rgb(69,144,150);
  height: 40px;
  text-align: center;
  width: 450px;
  color: white;
  margin: 10px 0 5px 0;
  font-weight: 600;
  cursor:pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu_bar_tbox_light{
  overflow: hidden;
  background-color: rgb(199,221,223);
  text-align: center;
  height: 40px;
  width: 450px;
  color: rgb(84, 84, 84);
  margin: 5px 0 15px 0;
  outline: 0;
  border-width: 0 0 3px 0;
  border-color: rgb(69,144,150);
  font-weight: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.menu_home{
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
  justify-items: center;
  display: grid;
  font-size: 20px;
}

.center_vertically {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.center_horizontally{
  display: grid;
  justify-content: center;
}

.link_white:hover {
  text-decoration: none;
  color: white;
}

.link_white {
  text-decoration: none;
  color: white;
}

/*********************************** HOME-> BOTTOM */

.bottom_info_container{
  margin: 0 80px 0 80px;
}

.bottom_info{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0 10px 0 10px;
}

.bottom_info img {
  height: 80px;
  width: 85px;
}

.bottom_info p{
  text-align: left;
  margin-top: 20px;
  line-height: 120%;
}

.gray_light p {
  color: rgba(28, 28, 26, 0.52)
}
