
/*********************************** HOME_TOP -> BAR  */

div.container_home_menu_top_bar{
  display: flex;
  align-items: center;
}


.home_menu_top_bar li{
  display: inline;
  justify-content: space-around;
  font-size: 20px;
  margin: 0px 50px 0 0;
  padding: 0;
}

div.home_menu_top_bar{
  width: 100%;
  text-align: right;
}

.menu_item:hover {
  border-bottom: solid 3px rgb(69,144,150);;
  display: inline;
  padding-bottom: 3px;
  cursor: pointer;
  color: rgb(69,144,150);
}

.center_horizontally{
  display: grid;
  justify-content: center;
}

.center_vertically {
 display: flex;
 justify-content: center;
 align-content: center;
 flex-direction: column;
}
