/********************* LEFT_MENU -> */

div.list_left_menu {
  margin-bottom: 30px;
}

.list_left_menu ul{
  list-style-type: none;
  padding: 0;
  margin: 28px 0 28px 0;
}

.list_left_menu li{
  margin: 28px 0 28px 0;
  color: black;
}


.list_left_menu li:hover {
  border-bottom: solid 2px rgb(69,144,150);
  display: inline;
  padding-bottom: 1px;
  cursor: pointer;
  color: rgb(69,144,150);
}

.list_left_menu_active_item {
  border-bottom: solid 2px rgb(69,144,150);
  display: inline;
  padding-bottom: 1px;
  cursor: pointer;
  color: rgb(69,144,150);
}

.list_link:hover {
  text-decoration: none;
  color: rgb(69,144,150) !important;
}

.list_link {
  text-decoration: none;
  color: black;
}
