/**************** MY_INFO */

.container_my_info{
  width: 1000px;
  margin-top: 50px;
}

.body_content{
  margin-top: 40px;
}

.input_tbox_light{
  background-color: rgb(199,221,223);
  height: 30px;
  width: 250px;
  color: rgb(84, 84, 84);
  border-width: 0;
  font-weight: 100;
  font-size: 12px;
}

.fake_edit_button_light{
  background-color: rgb(199,221,223);
  height: 50px;
  width: 60px;
}

.edit_button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(69,144,150);
  color: white;
  height: 30px;
  width: 60px;
  font-size: 13px;
  font-weight: 400;
  cursor:pointer;
}

.title_my_info{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.input_tbox_light_large{
  background-color: rgb(199,221,223);
  /*text-align: center;*/
  height: 80px;
  width: 250px;
  color: rgb(84, 84, 84);
  border-width: 0;
  font-weight: 100;
  overflow:hidden;
  resize:none;
  font-size: 12px;
}

.edit_button_large{
  display: flex;
  justify-content: center;
  background-color: rgb(69,144,150);
  color: white;
  height: 80px;
  width: 60px;
  font-size: 13px;
  font-weight: 400;
  cursor:pointer;
}

.info_input_group{
  display: flex;
  margin: 10px 0 10px 0;
}

.center_horizontally{
  display: grid;
  justify-content: center;
}

.center_vertically {
 display: flex;
 justify-content: center;
 flex-direction: column;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* supported by Chrome and Opera */
}


.link_white {
  text-decoration: none;
  color: white;
}

/** placeholder */

textarea::-webkit-input-placeholder {
  line-height: 70px;
}
textarea:-moz-placeholder {
  line-height: 70px;
}
textarea::-moz-placeholder {
  line-height: 70px;
}
textarea:-ms-input-placeholder {
  line-height: 70px;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    line-height: 70px;
}
::-moz-placeholder {
    line-height: 70px;
}

:-ms-input-placeholder {
    line-height: 70px;
}
