/*************** PROFILE_TOP_MENU -> */

div.profile_menu{
  justify-items: right;
  display: grid;
}


.profile_menu{
  margin-right: 10%;
  list-style-type: none;
  display: flex;
}

.profile_menu li{
  cursor: pointer;
}

.profile_menu_active_item{
  font-size: 15px;
  font-weight: 100;
  color: rgb(199,221,223);
}

.profile_menu_inactive_item{
  font-size: 15px;
  font-weight: 100;
}

.profile_menu_vertical_line{
  width: 3px;
  background-color: rgb(69,144,150);
  height: 22px;
  margin: 0 10px 0 10px;
  cursor: default;
}
