/**************** REPORT -> */


.container_report{
  width: 1000px;
  margin-top:50px;
}

.report_grid{
  border:1px solid lightgray;
}

.from_to{
  margin-left: 55%;
}

.report_detail_list ul{
  list-style-type: none;
  margin-top:10%;
  margin-left:20%
}

.bold{
  font-weight: bold;
}

.report_logo{
  margin-top: 20px;
  width: 120px;
  height: 35px;
}

.report_highlight{
  background-color: rgb(233, 242, 242);
  line-height: 45px;
}

.report_grid_row{
  height:50px;
  margin:5px 0 5px 0;
  font-size: 12px;
}

.grid_with_border{
  border:1px solid lightgray;
}

.cell_title{
  font-size: 11px;
  padding: 0 10px 0 10px ;
  display: grid;
  align-items: center;
}


.accept_order_button{
  background-color: rgb(69,144,150);
  height: 40px;
  text-align: center;
  width: 150px;
  color: white;
  font-weight: 600;
  cursor:pointer;
  display: grid;
  justify-content: center;
  align-items: center;
}

.center_vertically {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.center_horizontally{
  display: grid;
  justify-content: center;
}

.report_bottom{
  margin-top: 20px;
}

.tools_bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tools_bottom img{
  margin-right: 10px;
  cursor: pointer;
}
