/*************** TOP_MENU -> */

/** NAVIGATION_MENU */

div.navigation_menu{
  justify-items: right;
  margin-top: 20px;
}


.navigation_menu{
  list-style-type: none;
  display: flex;
}

.navigation_menu li{
  cursor: pointer;
}

.navigation_menu_active_item{
  font-size: 15px;
  font-weight: 100;
  color: rgb(180, 97, 70);
}

.navigation_menu_inactive_item{
  font-size: 15px;
  font-weight: 100;
}

.navigation_menu_vertical_line{
  width: 3px;
  background-color: rgb(180, 97, 70);
  height: 22px;
  margin: 0 10px 0 10px;
  cursor: default;
}

/** ACTIONS_MENU */

.actions_menu img {
  width: 23px;
  height: 20px;
  margin: 10px 0 5px 0;
  cursor: pointer;
}

.actions_menu span{
  font-size: 10px;
}

.actions_menu_icon{
  justify-items: center;
  align-items: center;
  display: inline-grid;
  padding: 0;
  margin: 0;
}

.actions_menu_nameof_actor{
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  align-self: flex-end;
}

/** TRANSACTIONS_MENU -> */

div.transaction_menu{
  margin: 20px 0 30px 0;
  display: grid;
  justify-content: center;
  font-size: 20px;
}

.transaction_menu li{
  margin: 0px 50px 0 0;
  display: inline;
  justify-content: space-around;
}

.transaction_menu_item:hover {
  border-bottom: solid 3px rgb(167, 97, 70);;
  display: inline;
  padding-bottom: 3px;
  cursor: pointer;
  color: rgb(167, 97, 70);
}

.transaction_menu_item_active{
  border-bottom: solid 3px rgb(167, 97, 70);;
  display: inline;
  padding-bottom: 3px;
  cursor: pointer;
  color: rgb(167, 97, 70);
}
