/****************************** WANNADO ->  */

.container_wannado{
  width: 1000px;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.body_content{
  margin-top: 40px;
}

.center_div_img{
  display: flex;
  justify-content: center;
}

.role_img{
  align-self: flex-end;
  margin-bottom: 20px;
}

div.vertical_line{
  width: 3px;
  background-color: rgb(69,144,150);
  height: 180px;
}
