/* font-family: 'Montserrat', sans-serif; */

body{
  font-family: 'Open Sans', sans-serif !important;
}

.border-r{
  border: 1px solid red;
}

.border-b{
  border: 1px solid blue;
}

*:focus {
    outline: none;
}
